{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Komal Kumari</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
</head>
<body>
    <br>
    <div class = "container">
        <div class="row">
            <div class="col-sm-3">
                <div class= "card card-body h-100 border-info" id="profile-wrapper" >
                    <img id="profile-pic" src="{% static 'images/Komal_img.png' %}" >
                    <br>
                    <h4>Hi! I'm Komal</h4>
                    <p>I am a Storage Engineer and python developer. I love learning new technologies</p>
                </div>
            </div>
            <div class ="col-sm-9">
                <div class ="card card-body  h-100 border-info">
                    <h3>Experience</h3>
                    <h6>Wipro, Project Engineer</h6>
                    <h6>OCTOBER 2018 - PRESENT, KOLKATA</h6>
                    <br>
                    <p>
                        Working experience in Storage Area Network(SAN), Linux scripting, 3par Storage array, Linux(Rhel, Sles), AIX, Solaris, Windows, HPUX, System Administration, Troubleshooting, Brocade switch, Cisco Switch, Zoning, Python, Python for networking.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class= "card card-body h-100" >
                    <h3>
                        Education
                    </h3>
                    <br>
                    <table cellspacing="50">
                        <tr>
                          <td> B.TECH, CSE, MAKAUT, <strong>CGPA-8.77</strong></td>
                        </tr>
                        <tr>
                          <td><em style="font-size: 12px;">
                          MARCH 2014 - MARCH 2018, KOLKATA</em></td>
                        </tr>
                        <tr>
                          <td>HIGHER SECONDARY, JAC BOARD - <strong>72.6%</strong></td>
                        </tr>
                        <tr>
                          <td><em style="font-size: 12px;">MARCH 2012-MARCH 2013, JAMSHEDPUR</em></td>
                        </tr>
                      </table>
                </div>
            </div>
            <div class ="col-sm-6">
                <div class ="card card-body h-100" >
                    <h4>
                        What I know
                    </h4>
                    <br>
                    <tr>
                        <td>
                          <ul>
                            <li><strong>Languages & Frameworks: </strong> </strong> <img alt="Python" src="https://img.shields.io/badge/-Python-3776AB?style=flat&logo=Python&logoColor=white" />
                                <img alt="Django" src="https://img.shields.io/badge/-Django-092E20?style=flat&logo=Django&logoColor=white" /> 
                                <img alt="Socket Programming" src="https://img.shields.io/badge/-SocketProgramming-000000?style=flat" />
                                <img alt="Linux" src="https://img.shields.io/badge/-Linux-FCC624?style=flat&logo=Linux&logoColor=white" />
                                <img alt="Python for Networking" src="https://img.shields.io/badge/-PythonForNetworking-000000?style=flat" />
                                <img alt="C" src="https://img.shields.io/badge/-C-3776AB?style=flat" /></li>
                            <br>
                            <li><strong>Machine Learning:</strong> <img alt="Logistic" src="https://img.shields.io/badge/-Logistic-00bfff?style=flat" />
                                <img alt="Linear" src="https://img.shields.io/badge/-Linear-808080?style=flat" />
                                <img alt="SVM" src="https://img.shields.io/badge/-SVM-00bfff?style=flat" />
                                <img alt="KNN" src="https://img.shields.io/badge/-KNN-808080?style=flat" /></li>
                            <br>
                            <li><strong>Web Development:</strong><img alt="HTML" src="https://img.shields.io/badge/-HTML-E34F26?style=flat&logo=Html5&logoColor=white" />
                                <img alt="CSS" src="https://img.shields.io/badge/-CSS-1572B6?style=flat&logo=css3&logoColor=white" />
                                <img alt="Bootstrap" src="https://img.shields.io/badge/-Bootstrap-563D7C?style=flat&logo=bootstrap&logoColor=white" /></li>
                            <br>
                            <li><strong>Others:</strong><img alt="Linux" src="https://img.shields.io/badge/-Linux-FCC624?style=flat&logo=Linux&logoColor=white" />
                                    <img alt="Red Hat Linux" src="https://img.shields.io/badge/-RedHatLinux-EE0000?style=flat&logo=RedHat&logoColor=white" />
                                    <img alt="suse" src="https://img.shields.io/badge/-SUSE-73BA25?style=flat&logo=openSUSE&logoColor=white" />
                                    <img alt="Veritas Cluster Server" src="https://img.shields.io/badge/-Veritas Cluster Server-B1181E?style=flat&logo=Veritas&logoColor=white" />
                                    <img alt="Visual Studio Code" src="https://img.shields.io/badge/-VScode-007ACC?style=flat&logo=VisualStudioCode&logoColor=white" />
                                    <img alt="git" src="https://img.shields.io/badge/-Git-F05032?style=flat&logo=git&logoColor=white" /></li>
                          </ul>
                        </td>
                      </tr>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-9">
                <div class= "card card-body h-100" >
                    <h4>
                        Training and Projects I have Done
                    </h4>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="row">1</th>
                                <td>Data Classification of Diabetes Dataset: FinalYear Project
                                </td>
                                <td><em style="font-size:15px;">Used techniques like Logistic Regression, Support Vector Machine and a
                                    Multi-Layer perceptron, to achieve an accuracy of 70%-80.6% in prediction.</em></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Reverse Shell: Personal Project</td>
                                <td><em style="font-size: 15px;">Reverse shell built a connection between server and client. You are able to execute any command on client host from server.</em></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Sort-Cli: Personal Project</td>
                                <td><em style="font-size: 15px;">A command line interface to sort a given file by using different sorting algorithms.</em></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>character-o-graph: Personal Project</td>
                                <td><em style="font-size: 15px;">Turtle implemented program to draw each character of a string.</em></td>
                            </tr>
                            
                            <tr>
                                <th scope="row">5</th>
                                <td>The BootStrap Web Designing: Training</td>
                                <td><em style="font-size:15px;">Vacation Training Programme at Tata Steel Ltd.</em></td>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class ="col-sm-3 ">
                <div class ="card card-body justify-content-center h-100 " >
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <h4 id="Connect">Connect With Me</h4>
                    <table style="width: 50%">
                        <tr>
                            <td><a href="https://github.com/komalkri-dev/" class="fa fa-github"></a></td>
                            <td>
                                <a href="https://www.linkedin.com/in/komalkumari7044/" class="fa fa-linkedin"></a></td>
                            <td>
                                <a href="https://instagram.com/_k_omal" class="fa fa-instagram"></a>

                            <td>
                                <a href="https://www.facebook.com/Kimsin7" class="fa fa-facebook"></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
    </div>


</body>
</html>

